/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#search-form {
  margin-bottom: 20px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-item {
  width: calc(25% - 10px);
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

#load-more {
  display: none;
  /* Спочатку кнопка прихована */
  padding: 10px 20px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
}

#loader {
  display: none;
  /* Спочатку індикатор прихований */
  text-align: center;
  margin-top: 10px;
}

.hidden {
  display: none;
}
