/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
/* src/styles/styles.css */

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search-form input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

#search-form button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.gallery-item {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

#load-more {
  display: none;
  /* Початково прихована */
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  font-size: 16px;
}

#loader {
  display: none;
  /* Початково прихований */
  text-align: center;
  margin-top: 10px;
}

.hidden {
  display: none;
}

#end-message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}
